
.img2{
position: absolute;
width: 149px;
height: 36.23px;
left: 130px;
top: 50px;
}

.brand{
position: absolute;
width: 104px;
height: 24px;
left: 195px;
top: 56.12px;
font-family: 'Rubik';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
color: #0B132A;
}

.navbar-obj{
    // position: absolute;
    // font-style: normal;
    font-family: 'Rubik';
    color: #4F5665;


.about{
position: absolute;
width: 53px;
height: 19px;
left: 456px;
top: 58.62px;
font-size: 16px;
line-height: 19px;

}

.features{
    position: absolute;
    width: 77px;
    height: 19px;
    left: 542px;
    top: 58.62px;
    font-size: 16px;
    line-height: 19px;
    }

.pricing{
position: absolute;
width: 63px;
height: 19px;
left: 648px;
top: 58.62px;
font-size: 16px;
line-height: 19px;
}

.testimonials{
position: absolute;
width: 103px;
height: 19px;
left: 740px;
top: 58.62px;
font-size: 16px;
line-height: 19px;
}

.help{
position: absolute;
width: 48px;
height: 19px;
left: 873px;
top: 58.62px;
font-size: 16px;
line-height: 19px;
}
}


.sign-in{
position: absolute;
width: 63px;
height: 19px;
left: 1057px;
top: 58.62px;
font-family: 'Rubik';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
color: #0B132A;
}



.sign-up{
    box-sizing: border-box;

    position: absolute;
    width: 150px;
    height: 45px;
    left: 1140px;
    top: 45.62px;
    
    border: 1px solid #F53855;
    border-radius: 50px;
    color: #F53855;
}

.img1{
position: absolute;
width: 611.24px;
height: 382.44px;
left: 745.76px;
top: 179.11px;
}

.p1{
position: absolute;
width: 555px;
height: 140px;
left: 150px;
top: 206.77px;

font-family: 'Rubik';
font-style: normal;
font-weight: 500;
font-size: 50px;
line-height: 70px;
color: #0B132A;
}

.pl{
    font-size: 17px;
    line-height: 40px;
    olor: #4F5665;
}


.illustration2{
 position: absolute;
width: 508.12px;
height: 414.71px;
left: 184.52px;
top: 960.38px;
}

.p2{
position: absolute;
width: 383.41px;
height: 100px;
left: 862.12px;
top: 1014.55px;
font-family: 'Rubik';
font-style: normal;
font-weight: 500;
font-size: 35px;
line-height: 50px;
color: #0B132A;
}

.p3{
position: absolute;
width: 427.88px;
height: 60px;
left: 862.12px;
top: 1134.55px;
font-family: 'Rubik';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
color: #4F5665;
}

.p4{
    position: absolute;
    width: 383.41px;
    height: 50px;
    left: 528.3px;
    top: 1590.55px;
    font-family: 'Rubik';
    font-size: 35px;
    line-height: 50px;
    text-align: center;
    
}
.p5{
    font-size: 15px;
    top: 1600.55px;
    line-height: 30px;
}
.p6{
    position: absolute;
width: 82px;
height: 30px;
left: 299px;
top: 2051.55px;
font-family: 'Rubik';
font-weight: 500;
font-size: 18px;
line-height: 30px;
text-align: center;
color: #0B132A;
}
.p7{
    width: 136px;
    top: 2111.55px;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: #4F5665;
}
.pf{
    font-weight: 500;
    font-size: 18px;
    top: 2420.55px;
    color: #0B132A;
}
.sub1{
box-sizing: border-box;
position: absolute;
width: 100px;
height: 30px;
background: white;
top: 340.55px;
left: 0px;
border-radius: 10px;
border-color: #F53855;
color: #F53855;
}

.p8{
    position: absolute;
width: 123px;
height: 30px;
left: 658.5px;
top: 2051.55px;
font-family: 'Rubik';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 30px;
text-align: center;
color: #0B132A;
}

.p9{
    width: 136px;
    height: 30px;
    left: 669.27px;
    top: 2111.55px;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: #4F5665;
}

.sub2{
    width: 100px;
    height: 30px;
    top: 400.55px;
    background: white;
    border-color: #F53855;
    color: #F53855;
    border-radius: 10px;
}
.p10{
position: absolute;
width: 121px;
height: 30px;
left: 1039.5px;
top: 2051.55px;
font-family: 'Rubik';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 30px;
text-align: center;
color: #0B132A;
}
.p11{
width: 136px;
height: 30px;
left: 1049.27px;
top: 2111.55px;
font-weight: 400;
font-size: 14px;
line-height: 30px;
color: #4F5665;
}
.sub3{
    width: 100px;
    height: 30px;
    top: 340.55px;
    border-radius: 10px;
    background: #F53855;
    border-color: #F53855;
    color: white;
}
.p12{
position: absolute;
width: 383.41px;
height: 100px;
left: 528.3px;
top: 2686.55px;
font-family: 'Rubik';
font-weight: 500;
font-size: 35px;
line-height: 50px;
text-align: center;
color: #0B132A;
}
.p13{
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;

}

.img3{
    position: absolute;
width: 1060px;
height: 537.77px;
left: 190px;
top: 3022.36px;
opacity: 0.5;
}